.footer-home-page
    height: 76vh
    width: 100vw
    position: absolute
    background-color: #fff
    margin-top: 700px

.footer-home-page-button-layout
    width: 100vw
    height: 17vh
    border: 1px solid #bcbcbc
    text-align: center
    border-radius: 10px
    position: absolute
    margin-top: 40px

.footer-button-text
    font-size: 14px
    color: #000
    margin-top: 40px

.footer-button
    width: 260px
    height: 28px
    font-weight: bold
    background-color: #F7CA00
    border-radius: 5px
    border: none
    outline: none
    transition-duration: 0.4s
    &:hover
        background-color: #e7be04

.footer-bottom-text-button
    font-size: 12px
    color: #000

.home-begin-layout
    width: 100vw
    height: 7vh
    text-align: center
    background-color: #485769
    margin-top: 190px
    position: absolute

    .home-begin-text
        font-size: 14px
        font-weight: bold
        color: #fff
        margin-top: 15px

.footer-second-button-layout
    width: 100vw
    height: 17vh
    background-color: #232F3E
    display: flex
    text-align: center
    justify-content: center
    position: absolute
    margin-top: 240px

    .footer-second-button-img
        background: url("https://ik.imagekit.io/r8tquaqku5/sprite_350x_rMhwRXWtQ.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650399300556") no-repeat -9px -89px
        width: 78px
        height: 25px
        margin-top: 55px

    .footer-second-button1
        width: 200px
        height: 30px
        background-color: transparent
        color: #fff
        margin-top: 50px
        margin-left: 60px
        border-radius: 2px
        border: solid 1px #fff
        outline: none
    
    .footer-second-button2
        width: 200px
        height: 30px
        color: #fff
        margin-top: 50px
        margin-left: 10px
        background-color: transparent
        border-radius: 2px
        border: solid 1px #fff
        outline: none
    
    .footer-second-button3
        width: 200px
        height: 30px
        color: #fff
        margin-top: 50px
        margin-left: 10px
        background-color: transparent
        border-radius: 2px
        border: solid 1px #fff
        outline: none

.footer-info-layout
    width: 100vw
    height: 30vh
    color: #fff
    background-color: #131A22
    display: flex
    text-align: center
    justify-content: center
    position: absolute
    margin-top: 363px

    .footer-info-text
        font-size: 12px
        font-weight: bold
        margin-top: 170px
        margin-left: 20px